.food-menu-container {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

.food-menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.menu-item {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    color: #555;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu-item p, .menu-item h1 {
    padding: 10px;
}

.item-cart-btn, .item-count-field, .incr-button, .decr-button {
padding: 10px 20px;
outline: none;
border: none;
cursor: pointer;
}

.item-cart-btn {
    color: #fff;
    background: tomato;
    outline: none;
    border: none;
    border-radius: 4px;
}

.incr-button, .decr-button {
    background: rgb(100, 100, 255);
    border: 1px solid rgb(100, 100, 255);
    color: white;
}

.item-count-field {
    box-sizing: border-box;
    max-width: 100px;
    background: #fff;
    color: black;
    border: 1px solid rgb(100, 100, 255);
}

.price-field {
    font-size: 24px;
}