.food-menu-container {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

.food-menu-grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 20px;
}

.menu-item {
    background: #444;
    border: 1px solid #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #AAA;
    border-radius: 8px;
}

.menu-item p, .menu-item h1 {
    padding: 10px;
}