.login-container {
    display: flex;
    justify-content: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 540px;
}

.login-wrapper > * {
    margin: 10px 0;
    padding: 20px 10px;
}